<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>conditions</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click=" show =!show">magic</button>

        <template v-if="show">
        <p >Vue.js est incroyable</p>
        <strong> ceci est un template </strong>
        </template>
        <p v-else> some kind of magic </p>

        <p v-if="show"> test du v-if</p>
        <p v-show="show"> test du v-show</p>
    </div>

    <script>
        new Vue({
            el:'#app',
            data: {
                show: false,
            }
        })
    </script>

</body>
</html>