.title {
    font-style: italic;
    font-size: 35px;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.underline {
    text-decoration: underline;
}

p {
    font-size: 25px;
}

li {
    font-size: 25px;
    list-style-type: none;
}
